/* a.active {
    color: blue;
    text-decoration: underline;
  }
.nav-link {
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  transition: 0.2s;
  color: #374151;
  font-weight: 500;
}

.nav-link:hover {
  background-color: #e5e7eb;
}

.nav-link.active {
  background-color: #2563eb;
  color: white;
} */


.bg-primary {
  background-color: #1A1A1A; /* dark grey/black */
}

/* Reusable nav link style */
.nav-link {
  font-weight: 600;
  font-size: 1.125rem;
  color: white;
  transition: color 0.3s ease;
}

.nav-link:hover,
.nav-link.active {
  color: #ffd700; /* Gold hover/active color */
}


